{block content}
    <div class="first-div"></div>

    <a n:href="ahoj!" class="ajax" id="pridej">Klikni pls</a><br>
    <a n:href="smazat!" class="ajax" id="smaz">Smazat</a>

    <div>
        {foreach $cart->list as $concertId => $ticketType}
            {$concertId}  <br>
            {foreach $ticketType as $type => $amount}
                {$type} : {$amount} <br>
            {/foreach}
            <br> <br>
        {/foreach}
    </div>

{/block}
