{block content}
    <div class="jumbotron header-of-page" style="max-height: 300px">
        <h1 style="margin-top: 180px;" class="display-4 header" n:block=title>Nový festival</h1>
    </div>
    <div class="py-5 bg-light default-container">
        <div class="container">
            <div class="row">
                <div class="col" align="center">
                    {control addNewFestival}
                </div>
            </div>
        </div>
    </div>
{/block}
