{block content}
    <div class="first-div"></div>
    {$festivalId}
{/block}

{block scripts}
    {include parent}

{/block}

{block head}
    <title n:block=title>Folk Metal Fest VI</title>
{/block}
