{block content}
    <div class="jumbotron header-of-page" style="max-height: 300px">
        <h1 style="margin-top: 180px;" class="display-4 header" n:block=title>Stránka nenalezena!</h1>
    </div>

    <div class="wrapper" style="text-align: center; padding-top: 100px;">
        <a n:href="News:default">
            <button type="button" class="btn btn-warning btn-xs" style="font-size: 25px;">Zpátky na hlavní stránku</button>
        </a>
    </div>
{/block}