{block content}
<div class="first-div"></div>

<h1 n:block=title>Přihlášení</h1>

{control signInForm}

{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

<p><a n:href="up">Ještě nemáte účet? Zaregistrujte se.</a></p>
