{block content}
<div class="first-div"></div>
<div class='text-center'>
    <div class="form-signin">
        <h1 n:block=title>Přihlášení</h1>

        {control signInForm}

        <p><a n:href="up">Ještě nemáte účet? Zaregistrujte se.</a></p>
    </div>
</div>