{block content}
	<div class="jumbotron header-of-page">
		<h1 class="display-4 header" n:block=title>Nový interpret</h1>
	</div>
	<div class="py-5 bg-light default-container">
		<div class="container">
			<div class="row">
				<div class="col" align="center">
					{control addNewInterpretForm}
				</div>
			</div>
		</div>
	</div>
{/block}


{block scripts}
	{include parent}
{/block}


{block head}
{/block}